version: 2.1

orbs:
  architect: giantswarm/architect@4.12.0

workflows:
  build:
    jobs:
      - architect/go-build:
          name: build-azure-scheduled-events
          binary: azure-scheduled-events
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: architect
          name: push-azure-scheduled-events-to-docker
          image: "quay.io/giantswarm/azure-scheduled-events"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - build-azure-scheduled-events
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: architect
          name: push-azure-scheduled-events-to-default-app-catalog
          app_catalog: "default-catalog"
          app_catalog_test: "default-test-catalog"
          chart: "azure-scheduled-events-app"
          requires:
            - push-azure-scheduled-events-to-docker
          filters:
            tags:
              only: /^v.*/
