project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

image:
  name: "giantswarm/azure-scheduled-events"
  tag: "[[ .Version ]]"
Installation:
  V1:
    Registry:
      Domain: quay.io

kubectlImage:
  registry: quay.io
  name: giantswarm/docker-kubectl
  tag: 933ac043b7bec33104aac58b16849ea28bace26c
  pullPolicy: IfNotPresent

prometheusExporter:
  port: 8080
